services:
  app:
    build:
      context: .
    container_name: docker-library-app
    env_file:
      - .env
    ports:
      - "8000:8000"
    command: >
      sh -c "
      python manage.py wait_for_db &&
      python manage.py migrate &&
      python manage.py runserver 0.0.0.0:8000
      "
    volumes:
      - ./:/app
    depends_on:
      - db


  db:
    image: postgres:16.0-alpine3.17
    restart: always
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - my_db:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    restart: always
    ports:
      - "6380:6379"

  celery:
    build:
      context: .
    container_name: celery-worker
    env_file:
      - .env
    command: celery -A library_service_api worker -l info
    depends_on:
      - app
      - redis
      - db

  celery-beat:
    build:
      context: .
    container_name: celery-beat
    env_file:
      - .env
    command: celery -A library_service_api beat -l info
    depends_on:
      - app
      - redis
      - db

volumes:
  my_db:
